* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --cor-principal: #249BA3;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
    color: #249BA3;
}

header {
    margin-left: 10vw;
    padding: 2em 2em;
    background-color: #EEE;
}

#caixa-botao {
    padding: 1em;
    text-align: center;
}

.botao-racao {
    background-color: #9f2ceb;
    color: #FAFAFA;
    border-radius: 7px;
    border-color: #9f2ceb;
    padding: .5em 1em;
    margin: 0 1em;
    font-size: 0.9rem;
}

.botao-racao:hover {
    border-radius: 10px;
    border-bottom: 2px solid var(--cor-principal);
    color: #DDD;
}

.nav-pagina {
    background-color: #9f2ceb;
    padding-top: 4em;
    width: 10%;
    position: absolute;
    top: 0;
    left: 0;
    height: 102vh;
}

.nav-maior {
    height: 175vh;
}

.nav-grande {
    height: 150vh;
}

.nav-link {
    display: block;
    padding: .5em 1em;
    text-decoration: none;
    color: #EEE;
}

.link-ativo {
    border-left: 8px solid #EEE;
}

.nav-link:hover {
    background-color: var(--cor-principal);
    color: #000;
    transition: .3s;
}

.principal {
    padding: 2em 2em;
    margin-left: 10vw;
    margin-right: 9vw;
}

#inicio-main {
    height: 142vh;
}

#titulo-principal {
    text-align: center;
}

.lista-prod {
    display: flex;
    list-style-type: none;
    padding: 2em 0;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.prod {
    position: relative;
    font-size: 16px;
    margin-top: 2em;
}

.prod:hover {
    top:-2px;
    box-shadow:0 2px 2px #666;
    transition: all .1s ease-in-out;
}

.img-prod {
    height: 200px;
    margin: 0 4em;
}

.descricao-prod {
    padding: 1em 0;
    font-size: 14px;
}

.preco-prod {
    padding-bottom: 1em;
    font-size: 18px;
}

.prod-botao {
    background-color: #9f2ceb;
    color: #FAFAFA;
    border-color: #9f2ceb;
    border-radius: 7px;
    padding: 1em 2em;
}

.propagandas {
    width: 12%;
    position: fixed;
    top: 8em;
    right: 0;
    margin-right: 1em;
}

.propagandas img {
    height: 60vh;
    width: 100%;
}

/*Página de serviços*/

table, tr, td, th {
    border: 1px solid #000;
    border-collapse: collapse;
    padding: .5em;
}

#tabela {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.linha-tabela:hover {
    background-color: #249BA3;
    color: #EEE;
    transition: .35s;
}

.img-tabela {
    height: 80px;
}

.preco-tabela {
    font-weight: 700;
    font-size: 18px;
}

#video {
    padding-top: 5em;
    text-align: center;
}

#texto-video {
    padding: 1em 0;
}

/*Página de Contato*/
#titulo-ctt {
    padding: 1em 0;
}

#main {
    height: 90vh;
}

.item-lista {
    padding: 1.5em 0;
}

.item-lista a {
    text-decoration: none;
    color: var(--cor);
}

.item-lista a:hover {
    color: #0000FF;
}

.rotulo {
    display: block;
    font-weight: bold;
    margin-bottom: 2px;
}

.principal > h2 {
    margin-bottom: 1em;
}

#lista {
    padding-left: 15px;
}

form {
    margin: 2em 0;
    position: absolute;
    right: 0;
    top: 105px;
    width: 42vw;
}

form h2 {
    margin-bottom: 1.6em;
}

fieldset {
    border: 0px;
    padding: .5em 0;
}

.formulario input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.formulario textarea {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    height: 120px;
}

#mensagem {
    margin-bottom: 1.5em;
}

#btn-enviar {
    background-color: #9f2ceb;
    color: #EEE;
    border-radius: 8px;
    padding: 1em;
}

#btn-enviar:hover {
    cursor: pointer;
    color: #ccc;
    border-radius: 12px;
    border-bottom: 2px solid var(--cor-principal);
}

#btn-enviar:active {
    background-color: green;
}

footer {
    background-color: #DDD;
    padding: 2em 2em;
}

#titulo-rodape, #redes {
    display: inline;
}

#redes {
    margin-left: 30em;
}

.rodape-img {
    height: 25px;
    padding-left: 5px;
    position: relative;
    top: 40px;
    right: 132px;
}

#direitos {
    width: 18px;
}